* {
  background: lightgray;
  margin: 0;
  padding: 0;
}

:root{
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --mainBlack: #222;
  --primaryColor: #af9a7d;
}

.header{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 120px;
  width: 100vw;
}

.header-title{
  background: blue;
  width: calc(100vw - 120px);
  text-align: center;
  font-size: 3em;
  padding-top: .5em;
}

.hamburger{
  padding: 30px;
}

.nav-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  width: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  background: lightsalmon;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  background: lightsalmon;
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  width: 75%;
}

.back-btn-container{
  position: relative;
}

.back-btn{
  position: absolute;
  top: 10%;
  right: 10%;
  background: lightsalmon;
}

.home-bg{
  background: black;
}

.error-bg{
  background: yellowgreen;
}

.syllabus{
  background: darkolivegreen;
}

.content-bg{
  background: blueviolet;
}