* {
  margin: 0;
  padding: 0;
}

:root{
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --mainBlack: #222;
  --primaryColor: #af9a7d;
}

.header{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 120px;
  width: 100vw;
}

.header-title{
  background: blue;
  width: calc(100vw - 120px);
  text-align: center;
  font-size: 3em;
  padding-top: .5em;
}

.hamburger{
  padding: 30px;
}

.menu{
  position: fixed;
  background: #222;
  height: calc(100vh - 120px);
  width: 200px;
  left: 0;
}

.show-nav{
  left: -200px;
}

.home-bg{
  background: black;
}

.error-bg{
  background: yellowgreen;
}

.syllabus{
  background: darkolivegreen;
}

.content-bg{
  background: blueviolet;
}