* {
  margin: 0;
  padding: 0;
  
}

:root{
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --mainBlack: #222;
  --primaryColor: #af9a7d;
}

.header{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 80px;
  width: 100vw;
}

.header-title{
  background: white;
  width: calc(100vw - 80px);
  text-align: left;
  font-weight: normal;
  font-size: 1em;
  padding-top: 30px;
  padding-left: 3em;
}

.hamburger{
  padding: 20px;
  background-color: white;
}

.menu{
  position: fixed;
  background: white;
  height: 100vh;
  width: 300px;
  left: -300px;
  transition: var(--mainTransition);
}

.menu li{
  padding: 1rem;
}

.menu ul{
  position: relative;
}

.back-btn-container{
  position: absolute;
  top: 10px;
  right: 10px;

}

.menu-icon{
  padding: 0 1rem;
}

.menu-titles{
  text-decoration: none;
  color: grey;
}

.show-nav{
  left: 0px;
  transition: var(--mainTransition);
}

.home-bg{
  background: lightgray;
  height: 100vh;
  width: 100vw;
}

.error-bg{
  background: yellowgreen;
  height: 100vh;
  width: 100vw;
}

.syllabus-bg{
  background: darkolivegreen;
  height: 100vh;
  width: 100vw;
}

.content-bg{
  background: blueviolet;
  height: 100vh;
  width: 100vw;
}